.contacts
	a.contact(href="tel:+79010010101")
		i.fa.fa-phone.contact__icon(aria-hidden="true")
		span.contact__text +7 901 001-01-01
	a.contact(href="mailto:mail@mail.ru")
		i.fa.fa-envelope.contact__icon.contact__icon__email(aria-hidden="true")
		span.contact__text mail@mail.ru
	a.facebook-icon(href="facebook.com")
		i.fa.fa-facebook(aria-hidden="true")